<a href="https://colab.research.google.com/github/RSDUNN0809/create_sqlite_database_in_python/blob/main/Create_a_SQLite3_Database_in_Google_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to Create a SQLite3 Database in Python in Just 4 Short Steps Using Google Colab

IG: @dunnford_does_data

YouTube: @RyanSDunn

## Connect to your Google Drive

In [20]:
#connect to google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Import required libraries:

In [23]:
import pandas as pd
import sqlite3
import csv

# Set option to see all columns in output (I like to do this - you don't have to)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',None)

## 1. Create a new connection to a filepath and create the new_test.db sqlite database

In [24]:
# Connect to a sqlite3 database, or create one if it does not exist
conn = sqlite3.connect('/content/drive/My Drive/Ryan Other Data Science Projects/Create a SQLite3 Database in Python/new_test.db')

# Create the cursor object
cursor = conn.cursor()

# Save the changes to the database
conn.commit()

# Close the cursor and connection objects
cursor.close()
conn.close()

## 2. Import a .csv file to upload into the SQLite database

In [4]:
# Import the the .csv file from a google drive folder path
raw_df = pd.read_csv('/content/drive/MyDrive/Ryan Other Data Science Projects/Fraud Detection with Translatable Features/card_transdata.csv', 
                     header=0)
df = raw_df

# Quickly view shape and head of dataframe
print(df.shape)
df.head()

(1000000, 8)

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

## 3. Write the contents of the dataframe to your new_test.db
(In this example, we're going to name the table "transaction_table")

In [5]:
# Connect to a sqlite3 database, or create one if it does not exist
conn = sqlite3.connect('/content/drive/My Drive/Ryan Other Data Science Projects/Create a SQLite3 Database in Python/new_test.db')

# Create the cursor object
cursor = conn.cursor()

# Write the contents of the DataFrame to a SQLite table, with column headers
df.to_sql('transaction_table', conn, if_exists='replace', index=True)

# Save changes and commit to database
conn.commit()

# Close the cursor and connection objects
cursor.close()
conn.close()

## 4. Now, it's time to query our SQLite database and save the output to a dataframe

In [18]:
# connect to the database
conn = sqlite3.connect('/content/drive/My Drive/Ryan Other Data Science Projects/Create a SQLite3 Database in Python/new_test.db')

##### Query transaction_table data ##### 
# create cursor object and query table
cursor = conn.cursor()
cursor.execute("""SELECT TT.distance_from_home, TT.repeat_retailer, TT.fraud 
                  FROM transaction_table as TT 
                  WHERE TT.distance_from_home >= 50
                  LIMIT 10""")

# identify the column names for dataframe
col_names = [desc[0] for desc in cursor.description]

# fetch all rows from the query and store in dataframe
rows = cursor.fetchall()

# Create the transactions dataframe from the select rows and col_names from sqlite
transactions_df = pd.DataFrame(rows, columns = col_names)

# close the cursor and connection objects
cursor.close()
conn.close()

In [19]:
print(transactions_df.shape)
transactions_df.head()

(10, 3)

   distance_from_home  repeat_retailer  fraud
0           57.877857              1.0    0.0
1          765.282559              1.0    0.0
2          179.665148              1.0    0.0
3          114.519789              1.0    0.0
4           78.623242              1.0    0.0